
body{
  margin: 0px;
  padding: 25px;
  padding-bottom: 0px;
  padding-top: 0px;
      background: linear-gradient(60deg, #d9ee52, #bc3ce7, #23d588, #4d13d4);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body div img {
  position: relative;
  top: 0px;
  width: 75px;
  height: 70px;
  margin: 0px;
}
body div h1{
  position: relative;
  top: 17px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

.fa-cont{
  margin-left: auto;
  
}
.fa-cont #icon-drop-down  {
   position: absolute;
	display: none;
	top: 72px;
    right: 132px;
	background-color: #fff;
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 10px;
    width: 245px;
    height: 355px;
	z-index: 1;
	color: darkgray;
	font-family: 'PT-sans',sans-serif;
	text-align: left;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
    font-weight: initial;
    border-radius: 5px;
}
#icon-drop-down div{
margin-bottom: 8px;
font-family: 'Courier New', Courier, monospace;
color: black;
}
#icon-drop-down:before {
    content: "";
    width: 4;
    height: 4;
    position: absolute;
    bottom: 100%;
    right: 78px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}
#icon-drop-down:after{
  content: "";
    width: 4;
    height: 4;
    position: absolute;
    bottom: 100%;
    right: 80px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;  
}
.fa-cont:hover #icon-drop-down{
  display:block;
}
.icons:before{
  position: relative;
 right: 105px;
  top: 35px;
  font-size: 35px;
  margin-right: 5px;
  color: black;
  
}
.icons:hover{
  cursor: pointer;
}
.fa-question-circle:before{
  
  color: rgb(70, 70, 70);
  font-size: 36px;
}
#canvas{

  overflow: none;
}

#outer-canvas{
  display: flex;
}
#outer-color{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}


#canvas{
  box-shadow: 0px 0px 5px 5px black;


}

.color-button{
  border: 1px solid black;
  height: 75px;
  width: 75px;
  margin-bottom: 8px;
}
.color-button:hover, #pen-width:hover{
  cursor: pointer;
}
.active{
  border: 4px solid black;
}

#pen-width{
  position: absolute;
  left: 225px;
  top: 35px;
}

#buttons{
  position: relative;
  top: -5px;
  margin-bottom: 0px;
  margin-left: 45%;
  margin-right: 35%;
}

.card-button {
  margin-top: .5em;
  position: relative;
  background: linear-gradient(#ffafbd , #ffc3a0);
  background: linear-gradient(#d0fff2, #cd9ffc);
    font-size: 2rem;
    padding: 5px;
    border-radius: 50px;
    display: inline-flex;
    color: white;
    outline: none;
    
    border: 1px solid rgb(255, 145, 163);
    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 2px 2px lightblue;
      width: 39.5px;
      height: 45px;
      background: linear-gradient(#ffecd0, #fcb69f);
        background: linear-gradient(#d0fffe, #9fb5fc);
      background-size: cover;
      animation: blob-btn 4s infinite;
      
    }
    &:hover i {
      color:#cc2bbf
    }
}

#play-button, #pause-button {
  padding: 10px;
  margin-left: 8px;
  background: linear-gradient(#fe98a9 , #ffd4bb);
   border: 1px solid rgb(145, 167, 255);
   border: 1px solid rgb(255, 145, 163);
  &:hover {
    cursor:pointer;
    box-shadow: 0px 0px 2px 2px lightpink;
      width: 47.2px;
      height: 55px;
      background: linear-gradient(#d0fffe, #9fb5fc);
      background: linear-gradient(#ffecd0, #fcb69f);
      background-size: cover;
      animation: blob-btn 4s infinite;
      
    }
    &:hover i {
      color:rgb(85, 64, 224);
      color:#cc2bbf;
    }
}
#pause-button:hover{
  width: 49.5px;
}

#play-button i, #pause-button i {
  color:rgb(64, 115, 224);
  color: #cc2b5e;
}
#clear-button{
  position: relative;
  left: 10px
}
#clear-button:hover{
  width: 37px;
}
.card-button i {
  color: #cc2b5e
}


@keyframes blob-btn {
  0%,
  100% {
    border-radius: 69% 39% 29% 79% / 59% 59% 49% 49%;
  }

  25% {
    border-radius: 70% 20% 20% 30% / 70% 30% 60% 20%;
  }

  50% {
    border-radius: 20% 70% 40% 50% / 40% 40% 60% 51%;
  }

  75% {
    border-radius: 40% 60% 70% 30% / 40% 60% 30% 50%;
  }
}